Django>=3.2.7, <=4.1.3
psycopg2==2.9.5
django-seed==0.3.1
celery==5.2.7
redis==4.3.4
django_extensions==3.2.1
faker==15.2.0
ipython==8.6.0
black==22.10.0
coverage==6.5.0
selenium==4.6.0
ipdb==0.13.9
django-selenium-login==2.0.0
slackclient==2.9.4
django-currentuser==0.5.3